body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  background-color: #f0a500;
  padding: 40px 20px;
  text-align: center;
  color: white;
}

.introduccion, .tablas {
  padding: 30px;
  max-width: 1000px;
  margin: auto;
}

h3 {
  margin-top: 40px;
  color: #d17f00;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  background-color: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

th, td {
  padding: 10px 15px;
  border: 1px solid #ffffff;
  text-align: left;
}

th {
  background-color: #f8c471;
  color: #333;
}

tbody tr:nth-child(even) {
  background-color: #ffffff;
}
